<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/compro.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/css/mdb.min.css" rel="stylesheet">
    <title>Comapny Name</title>
  </head>
  <body>
       <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
    <div class="container"> 
 <a class="navbar-brand" href="#">Company Name </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home </a>
      </li>	  
    </ul> 
  </div>
   </div>
</nav>  
<section id="projects">
 <div class="container">
   <h1><u>Completed Projects</u></h1>
   <div class="card-columns">
    <div class="card">
	 <div class="view overlay">
	  <img src="images/comp1.jpg" class="card-img hoverable" >
	   <div class="mask flex-center rgba-black-strong">
        <h2 class="white-text">Sample Building 1</h2>
      </div>
	 </div>
	</div>
	<div class="card">
	 <div class="view overlay">
	 <img src="images/comp2.jpg" class="card-img">
	  <div class="mask flex-center rgba-black-strong">
        <h2 class="white-text">Sample Building 2</h2>
      </div>
	 </div>
	</div>
	<div class="card">
	 <div class="view overlay">
	 <img src="images/comp3.jpg" class="card-img">
   	 <div class="mask flex-center rgba-black-strong">
        <h2 class="white-text">Sample Building 3</h2>
      </div>
	</div>
	</div>
	<div class="card">
	 <div class="view overlay">
	 <img src="images/comp4.jpg" class="card-img">
	  <div class="mask flex-center rgba-black-strong">
        <h2 class="white-text">Sample Building 4</h2>
      </div>
	 </div>
	</div>
	<div class="card">
	 <div class="view overlay">
	 <img src="images/comp5.jpeg" class="card-img">
	 <div class="mask flex-center rgba-black-strong">
        <h2 class="white-text">Sample Building 5</h2>
      </div>
	 </div>
	</div>
   <div class="card">
   <div class="view overlay">
	 <img src="images/comp6.jpg" class="card-img">
	  <div class="mask flex-center rgba-black-strong">
        <h2 class="white-text">Sample Building 6</h2>
      </div>
	 </div>
	</div>
	<div class="card">
	 <div class="view overlay">
	 <img src="images/comp7.jpg" class="card-img">
	 	  <div class="mask flex-center rgba-black-strong">
        <h2 class="white-text">Sample Building 7</h2>
      </div>
	  </div>
	</div>
	<div class="card">
	 <div class="view overlay">
	 <img src="images/comp8.jpg" class="card-img">
	   <div class="mask flex-center rgba-black-strong">
        <h2 class="white-text">Sample Building 7</h2>
      </div>
	 </div>
	</div>
   </div>
 </div>
    <footer id="footer">
  <div class="container">
    <div class="row">
	  <div class="col-md-4 col-sm-12 col-xs-12 text-center ">
	   <p class="lead">Website Designed & Developed by Kp Digiters</p>
	  </div>
	  <div class="col-md-4 col-sm-12 col-xs-12 text-center">
	   <p class="lead"> © Company name</p>
	  </div>
	  <div class="col-md-4 col-sm-12 col-xs-12 text-center">
	   <h3>  <u>Follow us</u></h3>
	   <div class="row">
	     <a href=""> <img src="images/facebook.png" alt="" class="img-thumbnail"></a>
		 <a href=""> <img src="images/instagram.png" alt="" class="img-thumbnail"></a>
		  <a href=""> <img src="images/linkedin.png" alt="" class="img-thumbnail"></a>
		 <a href="">  <img src="images/twitter.png" alt="" class="img-thumbnail"></a>
	    
	   </div>
	  </div>
	</div>
  </div>
  </footer>
</section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" ></script>
  </body>
</html>N