<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
	<link rel="stylesheet" href="/css/style.css">
	 <title>Company Name</title>

  </head>
  <body >
  <section id="cover">
         <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
    <div class="container"> 
 <a class="navbar-brand" href="#">Company Name </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/completedPro" target="_blank"> Completed Projects</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#projects"> Upcoming Projects</a>
	  </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
	  <li class="nav-item">
	      <a class="nav-link" href="/careers" target="_blank">Careers</a>
	  </li>
    </ul> 
  </div>
   </div>
</nav>  
    <div class="cover-section">
       	  
	  <img src="images/logo.jpg" alt="logo">
	    
	</div>
  </section>
  <section id="about">
     <h1><u>About Us</u></h1>
	  <div class="container">
	 <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
      </div>
  </section>
  <section id="cover2">
    
  </section>
  <section id="projects">
      <h1><u>Our Projects</u></h1>
    <div class="container-fluid">
	 <div class="card-deck">
	    <div class="card">
		 <div class="zoomin">
		  <img class="card-img-top" src="images/cover.jpg">
		 </div>
		 <div class="card-body">
		 <p class="lead">  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
		  <a href="project1.html" target="_blank">   <button type="button" class="btn btn-primary mx-auto d-block">More Info</button></a>
		 </div>
		</div>
        <div class="card">
		 <div class="zoomin">
		    <img class="card-img-top" src="images/cover2.png">
		 </div>
		 <div class="card-body">
		 <p class="lead"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
		  <a href="project2.html" target="_blank"> <button type="button" class="btn btn-primary mx-auto d-block ">More Info</button></a>
		 </div>
		</div>
		<div class="card">
		 <div class="zoomin">
		   <img class="card-img-top" src="images/cover3.jpg">
		 </div>
		 <div class="card-body">
		 <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          <a href="project3.html" target="_blank">  <button type="button" class="btn btn-primary mx-auto d-block">More Info</button>	</a>
		 </div>
		</div>
		</div>
	</div>
  </section>
  <section id="cover3">
     
  </section>
  <section id="contact">
    <h1><u>Contact Us</u></h1>
	<div class="container">
	<div class="row">
	 <div class="col-md-6 col-sm-12 col-xs-12">
	    <div class="card" style="margin-top:60px">
		 <div class="card-header">
		  <h3><u> Reach out us</u></h3>
		  <hr>
		  <div class="card-body">
		   Phone:-+91-123456789
		   <br>
		   Email:-contact@johndoe.com
		 </div>
		 </div>
		</div>
	 </div>
	 <div class="col-md-6 col-sm-12 col-xs-12">
	     <h3 style="color:white"><u>Send Us An Enquiry</u></h3>
	   <form>
	    <div class="form-group">
		  <input type="email" class="form-control" id="inputEmail" aria-describedby="email Help" placeholder="Email Id *">
		</div>
		<div class="form-group">
		  <input type="name" class="form-control" id="inputName" aria-describedby="name Help" placeholder="Name *">
		</div>
		<div class="form-group">
		 <input type="phone" class="form-control" id="inputphone" aria-describedby="Phone Help" placeholder="Contact no. *">
		</div>
		<div class="form-group">
		 <textarea type="message" id="inputmessage" class="form-control" rows="3" placeholder="Write your enquiry *"></textarea>
		</div>
		<div class="form-group text-center">
		 <button type="button" class="btn btn-primary">Send</button>
		</div>
	   </form>
	 </div>
	</div>
	</div>
  </section>
  <footer id="footer">
  <div class="container">
    <div class="row">
	  <div class="col-md-4 col-sm-12 col-xs-12 text-center ">
	  
	  </div>
	  <div class="col-md-4 col-sm-12 col-xs-12 text-center">
	   <p class="lead"> © Company name</p>
	  </div>
	  <div class="col-md-4 col-sm-12 col-xs-12 text-center">
	   <h3>  <u>Follow us</u></h3>
	   <div class="row">
	     <a href=""> <img src="images/facebook.png" alt="" class="img-thumbnail"></a>
		 <a href=""> <img src="images/instagram.png" alt="" class="img-thumbnail"></a>
		  <a href=""> <img src="images/linkedin.png" alt="" class="img-thumbnail"></a>
		 <a href="">  <img src="images/twitter.png" alt="" class="img-thumbnail"></a>
	    
	   </div>
	  </div>
	</div>
  </div>
<!--<div class="thanks-modal animated fadeInDown faster">
 <h1>Buidler theme</h1>
</div>-->
</footer>
 
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" ></script>
	<script src="js/show-modal.js">	</script>
	</body>
</html>