<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/projectstyle.css">
	 <title>Company Name</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
    <div class="container"> 
 <a class="navbar-brand" href="#">Company Name </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">Book Visit</a>
      </li>
	 
    </ul> 
  </div>
   </div>
</nav>  
  <section id="site">
   <div class="container-fluid">
  <div class="row">
    <!--site info-->
    <div class="col-md-6 col-sm-12 col-xs-12">
     <nav>
      <ul class="nav nav-pills">
 
  <li class="active nav-item"><a class="nav-link active" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true" href="#nav-about">About</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false" href="#nav-location">Location</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false" href="#nav-contact">Price</a></li>
  
</ul> 
</nav>
<div class="tab-content" id="nav-tabContent">
   <!--about tab-->
  <div class="tab-pane fade show active" id="nav-about" role="tabpanel" aria-labelledby="nav-home-tab">
     <div class="jumbotron">   
   <img src="images/cover3.jpg" class="img-thumbnail">
	 <section id="project-body">
	<h2><u>About the project</u></h2>
	<p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
     </section>
	 </div>
	</div>
  <!--about tab ends-->
  <!--location tab-->
  <div class="tab-pane fade" id="nav-location" role="tabpanel" aria-labelledby="nav-profile-tab">
    <section id="location-body">
	  <div class="jumbotron">
	  <h2><u>Location</u></h2>
	  <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
       <div id="map"></div>
	 </div>
	</section>
  </div>
  <!--location tab ends-->
  <!--price tab-->
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <div class="jumbotron">
	     <table class="table">
  <tbody>
    <tr>
      
      <td>1Bhk</td>
      <td>54.2l</td>
      <td>400 sq.ft</td>
    </tr>
    <tr>

      <td>2Bhk</td>
      <td>75.6l</td>
      <td>750 sq.ft</td>
    </tr>
    <tr>
      
      <td>3Bhk</td>
      <td>1.3 cr</td>
      <td>1050 sq.ft</td>
    </tr>
  </tbody>
    </table>
	</div> 
  </div>
  <!--price tab ends-->
  </div>
   </div>
   <div class="col-md-6 col-sm-12 col-xs-12">
           <section id="amenities">   
   <div class="container">
	  <h2>Amenities</h2>
	  <div class="card-columns">
	    <div class="card">
		 <img src="images/swimming.png" alt="" class="card-img">
		</div>
		 <div class="card">
		  <img src="images/paw.png" alt="" class="card-img">
		</div>
		 <div class="card">
		 <img src="images/wi-fi.png" alt="" class="card-img">
		</div>
		 <div class="card">
		 <img src="images/cctv.png" alt="" class="card-img">
		</div>
		 <div class="card">
		  <img src="images/train.png" alt="" class="card-img">
		</div>
		 <div class="card">
		  <img src="images/car.png" alt="" class="card-img">
		</div>
		
	  </div>
	</div>
	</section>
 </div>   
   <!--row ends-->
  </div>
   
  </div>
  
  
  </section>
  <section id="subscrption-form text-center">
    <div class="jumbotron ">
	<form class="form-inline ">
	<div class="form-group mx-sm-3 mb-3 text-center">
    <label for="inputPassword2" class="sr-only">Email</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Name">
  </div>
	 <div class="form-group mx-sm-3 mb-3 text-center">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Email">
  </div>
  <button type="submit" class="btn btn-primary mb-2 text-center">Sumbit</button>
	</form>
	</div>
  
  </section>
    <footer id="footer">
  <div class="container">
    <div class="row">
	  <div class="col-md-4 col-sm-12 col-xs-12 text-center ">
	  
	  </div>
	  <div class="col-md-4 col-sm-12 col-xs-12 text-center">
	   <p class="lead"> © Company name</p>
	  </div>
	  <div class="col-md-4 col-sm-12 col-xs-12 text-center">
	   <h3>  <u>Follow us</u></h3>
	   <div class="row">
	     <a href=""> <img src="images/facebook.png" alt="" class="img-thumbnail"></a>
		 <a href=""> <img src="images/instagram.png" alt="" class="img-thumbnail"></a>
		  <a href=""> <img src="images/linkedin.png" alt="" class="img-thumbnail"></a>
		 <a href="">  <img src="images/twitter.png" alt="" class="img-thumbnail"></a>
	    
	   </div>
	  </div>
	</div>
  </div>
  </footer>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" ></script>
	  <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJSSx3vIBDtjGsNdqgpaB727RodukUjVs&callback=initMap">
    </script>

	</body>
</html>