#site 
{
  margin-top:75px;
}
.tab-content 
{
	padding-top:32px;
}
#project-body h2 
{
	padding-top:15px;
		font-family: 'Playfair Display SC', serif;
     text-align:center;
}
 #map {
        height: 400px;
        width: 100%;
       }
#project-body{
	margin-bottom:32px;
}
#enquire
{
	padding-top:32px;
	
}
#enquire h3 
{
	text-align:center;
	padding-bottom:32px;
}
#amenities h2
{
	text-align:center;
	padding-top:15px;
	padding-bottom:32px;
		font-family: 'Playfair Display SC', serif;
	
}
#footer
{

	 font-family: 'Lato', sans-serif;
	 color:white;
	 background:#222 ;
	 padding-top:30px;
	 padding-bottom:30px;
}
#footer p 
{
	  margin-top:30px;
	  font-size:20px;
}
#footer h3 
{
	margin-bottom:20px;
	margin-right:85px;
}
#footer a 
{
	text-align:center;
	margin-left:30px;
}
